@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600");

body {
    background: #ffffff;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    height: 350px;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;
}
.form-control {
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #999999;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #f0514d;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
.sign-box {
    width: 360px;
    margin: 0;
  transform: translate(-50%, -50%);
  position: absolute; 
  top: 50%; 
  left: 50%;
}
.sign-logo {
    font-size: 35px;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 300;
}
.sign-box-body {
    background: #90c322;
    padding: 20px;
    border-top: 0;
    color: #f0514d;
}
.has-feedback {
    position: relative;
}
.form-group {
    margin-bottom: 15px;
}
.has-feedback .form-control {
    padding-right: 42.5px;
}
.field-icon {
	float: right;
	right: 10px;
	margin-left: -25px;
	margin-top: -25px;
	position: relative;
	z-index: 2;
}
.btn  {
	 background: #f0514d;
}