#single-product .tab-content {
    padding: 10px;
    border-left:1px solid #dedede;
    border-right:1px solid #dedede;
    border-bottom:1px solid #dedede;

}
#single-product .nav-tabs {
    margin-top:30px;
}
#single-product  .nav-tabs .active a {
    background: #90c322;
    color: #fff;
}
#single-product  .nav-tabs li a {
    color: #333;
    border-top:1px solid #dedede;
    border-left:1px solid #dedede;
    border-right:1px solid #dedede;
}
.single-product-img {
    border:1px solid #dedede;
}
.product-des {
    border:1px solid #dedede;
    padding:10px 15px;
}
.product-des .view-link {
    background: #90c322;
    color: #fff;
}
.product-des .view-link i {
    color: #fff;
}
.top-catagori-heading {
    margin-top: 0;
}