<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Mackerel</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700' rel='stylesheet' type='text/css'>

	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="https://clothobserve.com/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/responsive.css">

	<!-- jS -->
	<script type="text/javascript" src="https://clothobserve.com/js/vendor/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="https://clothobserve.com/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>


</head>
<body>


	<section id="top">
		<div class="container">
			<div class="row">
				<div class="col-md-7">
					<p class="contact-action"><i class="fa fa-phone-square"></i>IN CASE OF ANY QUESTIONS, CALL THIS NUMBER: <strong>+(372) 84 302 194</strong></p>
				</div>
			</div>
		</div>


	</section> 
	
	
	<header>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<a href="#">
						<img src="https://clothobserve.com/easycook/logo.jpg" alt="logo">
					</a>
				</div>
			</div>
		</div>
	</header>


	<nav class="navbar navbar-default">
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      	<ul class="nav navbar-nav nav-main">
					<li><a href="/">HOME</a></li>
					<li><a href="/">SALADS</a></li>
					<li><a href="/">MEAT</a></li>
					<li><a href="/">FISH</a></li>
					<li><a href="/">PIZZA</a></li>
					<li><a href="/">DESSERTS</a></li>
		        </ul>
		    </div>
		
	</nav>

	<section id="product">
		<div class="container">
			<div class="row">
				<div class="product">
				<img src="https://clothobserve.com/easycook/mackerel.jpg">
				</div>
				<div class="col-md-12">
					<div class="product-des">
						<div class="product">
							<h3>Mackerel</h3>
							<p class="price">€7.80</p>
							<div class="product-heading">
								<h3>INGREDIENTS</h3>
							</div>
							<h5 class="price">large pasta shells, broccoli, oil, red onions, garlic, tomato purie, red wine, chopped tomatoes, basil, peppered smoked mackerel fillets, light crime fraоche, cheddar</h5>
						</div>
					</div>
				</div>
				<div class="product-heading">
					<h3>RECIPE</h3>
				</div>
				<div class="product-dest" >
					<h6>1.Heat the oven to 200°C/180°C fan/gas 6. Bring a large pan of water to the boil and cook the pasta shells for 2 minutes less than the pack instructions. Add the head of broccoli, sliced into florets, for the last 2 minutes of the cooking time, then drain and set aside.</h6>
					<h6>2.Meanwhile, in a large sautй pan, heat a glug of oil and fry the red onions for 5 minutes. Add the garlic and tomato purйe, fry for a few minutes, then add the red wine. Bubble for 2 minutes, then add the chopped tomatoes and basil. Cook for 10 minutes, then season.</h6>
					<h6>3.Remove the skin from a the mackerel fillets and break up into bite-size pieces. Stir into the pan with the remaining basil and light crиme fraоche. Spoon into a 2 litre baking dish (or keep in the pan if it’s ovenproof) and top with grated mature cheddar. Cook in the oven for 20-25 minutes until golden and piping hot throughout.</h6>
				</div>
				<div class="product-des">
					<a class="view-link" href="/order"><i class="fa fa-plus-circle"></i>Proceed to checkout</a>
				</div>
			</div>
		</div>
	</section>

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="block clearfix">
						<a href="#">
							<img src="https://clothobserve.com/easycook/footer-logo.jpg" alt="">
						</a>
						<p>
						We make cooking easy, fast and affordable for everybody! Experience the taste of fresh, home-made food, using modern recipes from the best restaurants in the world. We will provide you with all of the ingredients you need, in the right quantities, on your schedule.	
						</p>
						
					</div>
				</div>
				<div class="col-md-4">
					<div class="block">
						<h4>CONNECT WITH US</h4>
						<p> <i class="fa  fa-mobile"></i> <span>Mobile:</span> (+372) 84 302 194</p>
 						<p class="mail"><i class="fa  fa-envelope"></i>Email: <span>easycook@info.com</span></p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="block">
						<h4>COMING SOON</h4>
						<div class="media">
						  	<a class="pull-left" href="#">
						    	<img class="media-object" src="https://clothobserve.com/easycook/Prawn_and_avocado_salad.jpg" alt="...">
						  	</a>
						  	<a class="pull-left" href="#">
						    	<img class="media-object" src="https://clothobserve.com/easycook/chockolatecake.jpg" alt="...">
						  	</a>
						  	<a class="pull-left" href="#">
						    	<img class="media-object" src="https://clothobserve.com/easycook/lapsha.jpg" alt="...">
						  	</a>
						  	<a class="pull-left" href="#">
						    	<img class="media-object" src="https://clothobserve.com/easycook/indian-food.jpg" alt="...">
						  	</a>	
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<p class="copyright-text pull-right">Designed by: easycook</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
	
	<a id="back-top" href="#"></a>
</body>
</html>