<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Olivier</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700' rel='stylesheet' type='text/css'>

	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="https://clothobserve.com/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/responsive.css">

	<!-- jS -->
	<script type="text/javascript" src="https://clothobserve.com/js/vendor/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="https://clothobserve.com/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>


</head>
<body>


	<section id="top">
		<div class="container">
			<div class="row">
				<div class="col-md-7">
					<p class="contact-action"><i class="fa fa-phone-square"></i>IN CASE OF ANY QUESTIONS, CALL THIS NUMBER: <strong>+(372) 84 302 194</strong></p>
				</div>
			</div>
		</div>


	</section> 
	
	
	<header>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<a href="#">
						<img src="https://clothobserve.com/easycook/logo.jpg" alt="logo">
					</a>
				</div>
			</div>
		</div>
	</header>


	<nav class="navbar navbar-default">
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      	<ul class="nav navbar-nav nav-main">
					<li><a href="/">HOME</a></li>
					<li><a href="/">SALADS</a></li>
					<li><a href="/">MEAT</a></li>
					<li><a href="/">FISH</a></li>
					<li><a href="/">PIZZA</a></li>
					<li><a href="/">DESSERTS</a></li>
		        </ul>
		    </div>
		
	</nav>

	<section id="product">
		<div class="container">
			<div class="row">
				<div class="product">
				<img src="https://clothobserve.com/easycook/olivier.jpg">
				</div>
				<div class="col-md-12">
					<div class="product-des">
						<div class="product">
							<h3>Olivier</h3>
							<p class="price">€4.50</p>
							<div class="product-heading">
								<h3>INGREDIENTS</h3>
							</div>
							<h5 class="price">golden potatoes, carrots, frozen peas, hardboiled eggs, dill pickles, olive oil mayonnaise, diced smoked ham</h5>
						</div>
					</div>
				</div>
				<div class="product-heading">
					<h3>RECIPE</h3>
				</div>
				<div class="product-dest" >
					<h6>1.The first step is to cook your potatoes and carrots. I used a steamer, but you can always go the traditional route and boil them. In either case, peel the carrots but not the potatoes. If you are steaming (or nuking in the microwave to streamline the process), make sure to prick the potatoes with a fork. I'm not sure that they would actually explode in a steamer, but given that you want to end up with neatly diced potato cubes, better safe than sorry. And did I mention that stabbing potatoes with a fork does wonders for relieving stress?</h6>
					<h6>2.Steam the potatoes for 30 minutes to start with, and then add the peeled carrots. Continue steaming for 10-15 more minutes, or until the potatoes and carrots are firm but tender when poked.</h6>
					<h6>3.Meanwhile, cook your frozen peas according to package directions. I use the kind that can be steamed in the package in the microwave. When they are done, set them aside to cool.</h6>
					<h6>4.Note: there are traditionalists who will argue that nothing but canned peas will do in this salad, but I beg to differ. The faded, dull color and taste of canned peas just cannot compare to fresh or frozen steamed peas.</h6>
					<h6>5.When the potatoes and carrots are done, allow them to cool to the point that you can handle them easily.</h6>
					<h6>6.Peel the potatoes. Using your fingers or the back of a knife, gently scrape the thin layer of skin off of the potatoes. Dice them into Ѕ-inch cube-ish shapes and put them into a medium serving bowl.</h6>
					<h6>7.Next, dice your carrots. I've heard it said that a Soviet housewife could be judged on her housekeeping skills by how finely she could dice vegetables for her soups and salads. I, however, won't judge you. In fact, if you chop your potatoes and carrots a little larger, I would probably even thank you. I happen to like chunky salads.</h6>
					<h6>8.Toss the carrots and a cup of steamed peas into the bowl with the potatoes.</h6>
					<h6>9.Peel and dice your hardboiled eggs. Again, I know some like to have their salads with finely diced ingredients, but I don't. So dice them however you like.</h6>
					<h6>10.Chop pickles finely. I used small snacking dill pickles, so I needed to use six of them. If you have larger pickles, try using three and see if that is enough for you.</h6>
					<h6>11.Add the ham if using and mix everything together gently before you add the mayonnaise.</h6>
					<h6>12.Stir in one cup of mayo to start with, and add more if you think that the salad needs more binding together.</h6>
					<h6>13.Cover the salad and chill for at least one hour or overnight to allow the flavors to come together. And of course, garnish with dill. This is a Russian salad, after all.</h6>
				</div>
				<div class="product-des">
					<a class="view-link" href="/order"><i class="fa fa-plus-circle"></i>Proceed to checkout</a>
				</div>
			</div>
		</div>
	</section>

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="block clearfix">
						<a href="#">
							<img src="https://clothobserve.com/easycook/footer-logo.jpg" alt="">
						</a>
						<p>
						We make cooking easy, fast and affordable for everybody! Experience the taste of fresh, home-made food, using modern recipes from the best restaurants in the world. We will provide you with all of the ingredients you need, in the right quantities, on your schedule.	
						</p>
						
					</div>
				</div>
				<div class="col-md-4">
					<div class="block">
						<h4>CONNECT WITH US</h4>
						<p> <i class="fa  fa-mobile"></i> <span>Mobile:</span> (+372) 84 302 194</p>
 						<p class="mail"><i class="fa  fa-envelope"></i>Email: <span>easycook@info.com</span></p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="block">
						<h4>COMING SOON</h4>
						<div class="media">
						  	<a class="pull-left" href="#">
						    	<img class="media-object" src="https://clothobserve.com/easycook/Prawn_and_avocado_salad.jpg" alt="...">
						  	</a>
						  	<a class="pull-left" href="#">
						    	<img class="media-object" src="https://clothobserve.com/easycook/chockolatecake.jpg" alt="...">
						  	</a>
						  	<a class="pull-left" href="#">
						    	<img class="media-object" src="https://clothobserve.com/easycook/lapsha.jpg" alt="...">
						  	</a>
						  	<a class="pull-left" href="#">
						    	<img class="media-object" src="https://clothobserve.com/easycook/indian-food.jpg" alt="...">
						  	</a>	
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<p class="copyright-text pull-right">Designed by: easycook</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
	
	<a id="back-top" href="#"></a>
</body>
</html>